# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Testes
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Variáveis e segredos
.env

# Sistema operacional
Thumbs.db
.DS_Store
